*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: comic sans-serif;
    color: black;
    padding: 0 25px;
    font-weight: 700px;  
}
.menu{
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;

}
nav ul li a{
    color: black;
    text-align: center;
    font-size: 23px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    color: black;
    font-size: 43px;
    padding: 0 25px;
    font-weight: 700px;
    margin: 0 0 16px;
    font-weight: bold;
    float: left;
    padding-top: 50px;
}
p {
    color: grey;
    margin: 0 0 16px 0;
    margin-bottom: 15px;
    font-size: 23px;
    float: left;
    padding: 0 25px;
    font-weight: 700px;
}
img{
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 20px;
    width: 450px;
    size: 100px;
}
button {
    border: none;
    color: white;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 25%;
    height: 15%;
    margin-left: 25px;
}
.btn-1 {
    text-align: center;
    color: black;
    border: 2px solid aquamarine;
    background-color: white;
    float: left;
  }
  
.btn-2 {
    margin-left: 10px;
    text-align: center;
    color: white;
    background-color: aquamarine;
    border: 2px solid white;
    float: left;
}

